.welcome-bg {
  background-image: url("https://www.alessandroaste.com/wp-content/uploads/2022/03/menu-donna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

